#login-overlay {
  background-color: rgba(127, 0, 0, 0) !important;
  position: fixed !important;
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%);
  z-index: 100 !important;
  margin-right: 200px !important
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}

.marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  z-index: 100;
  position: fixed;
  width: 98% ;
}

.search-box > * {
  flex: 1 1 auto;
  height: auto;
  background-color: white;
}

.add-memory-button {
  position: fixed !important;
  top: 86% !important;
  right: 0 !important;
  transform: translateY(-50%);
  z-index: 100 !important;
  margin-right: 40px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 -2px 20px 1px rgba(0, 0, 0, 0.2);
}