{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "max-len": ["error", { "code": 300 }],
    "no-console": "off"
  }
}
